
body {
    font-family: "Inter", sans-serif;
    background-color: #f8f9fa;
    color: #1a1a2e;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    padding: 20px;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding: 0 15px 0 15px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 60vh;
}

#hero {
    font-size: 25px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#view-dashboard {
    background-color: #004aad;
    font-size: 30px;
    padding: 15px;
    margin: 20px;
    border-radius: 25px;
    color: white;
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

#features {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#features div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%
}

#features div img {
    width: 50px;
}

footer {
    text-align: left;
    padding: 20px;
}

@media (max-width: 840px) {
    header {
        flex-direction: column;
        justify-content: center;
    }
    #features {
        flex-direction: column;
        align-items: center;
    }

    #features div {
        width: 80%;
    }
}